body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(1, 1, 24); /* Negro más oscuro */
    font-family: 'Arial', sans-serif;
    color: white;
    border: 2px solid white;
    height: 700px;
    justify-content: center;
}
#contenedor{
    display: flex;
    flex-direction: row;
}
button {
    padding: 5px 19px;
    background-color: white; /* Azul más fuerte */
    color: black;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(118, 114, 118); /* Azul más oscuro al hacer hover */
    border: 2px solid rgb(48, 46, 48);
    transform: scale(1.05);
}
button:active{
    background-color: white;
    transform: scale(0.90);
    border: 3px solid  gray ;
}